{{#if this.image_url}}
<img class="beerImg" src="{{this.image_url}}" alt="{{this.name}} Image">
{{else}}
<div class="spaceNoImg"></div>
{{/if}}
<h1>{{this.name}}</h1>
<h2>{{this.tagline}}</h2>
<p>{{this.description}}</p>
