{{#if this.image_url}}
<img class="beerImg" src="{{this.image_url}}" alt="{{this.name}} Image">
{{else}}
<div class="spaceNoImg"></div>
{{/if}}
{{#if this.idLink}}
<a href={{this.idLink}}><h1>{{this.name}}</h1></a>
{{else}}
<h1>{{this.name}}</h1>
{{/if}}
<h2>{{this.tagline}}</h2>
<p>{{this.description}}</p>